<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{ meeting.topic_text }}</title>

    <!-- Bootstrap Core CSS -->
    <link href="{%static 'bootstrap.min.css'%}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{%static 'blog-post.css'%}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>
<!-- Navigation -->
    {% include "menu.html"%}

<div class="container">

        <div class="row">

            <div class="col-lg-7">
                <!-- Title -->
                <h1>{{ meeting.topic_text }}</h1>
                <hr>

                {% if meeting.report_set.all %}
                <table class="table table-striped" cellspacing="2" cellpadding="2">
                    <thead>
                    <tr><h2>Reports</h2></tr>
                    <tr>
                        <td width="400"><h3>Name</h3></td>
                        <td width="175"><h3>Author</h3></td>
                        <td><h3>File</h3></td>
                    </tr>
                    </thead>
                    <tbody>
                    {% for report in meeting.report_set.all %}
                    <tr><td><h4>{{ report.name }}</h4></td>
                        <td><h4>{{ report.author.first_name }}  {{ report.author.last_name }}</h4></td></h3>
                        {% if report.file.name %}
                            <td>
                                <a class="btn btn-default" href="{{report.file.url}}">
                                <span class="glyphicon glyphicon-file"></span></a>
                            </td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% endif %}
            </div>


            <div class="col-md-4">
                <h1>Details:</h1>
                <hr>
                <h3><p class="lead">{{ meeting.detail_text|linebreaks }}</p></h3>
            </div>
        </div>
</div>
</body>
</html>
