{% extends "base.html" %}

{% block title %}Meeting {{ meeting.topic_text }}{% endblock %}

{% load staticfiles %}

{% block nav %}{% include "menu.html" with active='meetings' %}{% endblock %}

{% block content %}

<div class="col-lg-7">
    <!-- Title -->
    <h1>{{ meeting.topic_text }}</h1>
    <hr>

    {% if meeting.report_set.all %}
    <table class="table table-striped" cellspacing="2" cellpadding="2">
        <thead>
        <tr><h2>Reports</h2></tr>
        <tr>
            <td width="400"><h3>Name</h3></td>
            <td width="175"><h3>Author</h3></td>
            <td><h3>File</h3></td>
        </tr>
        </thead>
        <tbody>
        {% for report in meeting.report_set.all %}
        <tr><td><h4>{{ report.name }}</h4></td>
            <td><h4>{{ report.author.first_name }}  {{ report.author.last_name }}</h4></td></h3>
            {% if report.file.name %}
                <td>
                    <a class="btn btn-default" href="{{report.file.url}}">
                    <span class="glyphicon glyphicon-file"></span></a>
                </td>
            {% endif %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}
</div>


<div class="col-md-4">
    <h1>Details:</h1>
    <hr>
    <h3><p class="lead">{{ meeting.detail_text|linebreaks }}</p></h3>
</div>

{% endblock %}
