{% extends "base.html" %}

{% load i18n %}

{% get_current_language as LANGUAGE_CODE %}

{% block title %}{% trans 'Meeting' %} {{ meeting.topic_text }}{% endblock %}

{% load staticfiles %}

{% block nav %}{% include "menu.html" with active='meetings' %}{% endblock %}

{% block content %}

<div class="col-lg-7">
    <!-- Title -->
    <h1>{{ meeting.topic_text }}
    <font size="3"><br><div class="date pull-right"><span class="glyphicon glyphicon-time"></span>
        {{meeting.meeting_date|date}}</div></font>
    </h1>
    <hr>

    {% if meeting.report_set.all %}
    <table class="table table-striped" cellspacing="2" cellpadding="2">
        <thead>
        <tr><h3>{% trans 'Reports' %}</h3></tr>
        <tr>
            <td width="400"><h4>{% trans 'Name' %}</h4></td>
            <td width="175"><h4>{% trans 'Author' %}</h4></td>
            <td><h4>{% trans 'File' %}</h4></td>
        </tr>
        </thead>
        <tbody>
        {% for report in meeting.report_set.all %}
        <tr><td><h4>{{ report.name }}</h4></td>
            <td><a {% if report.author.student.pk %}
                href="{% url 'members:student_detail' pk=report.author.student.pk %}"
                {% elif report.author.professor.pk %}
                href="{% url 'members:professor_detail' pk=report.author.professor.pk %}"
                {% endif %}>
                <button type="button" class="btn btn-default">
                    {% if LANGUAGE_CODE == 'uk' %}
                    {{ report.author_name_ua }}
                    {% else %}
                    {{ report.author_name_en }}
                    {% endif %}
                </button></a>
            </td>
            <td>
                {% if report.file.name %}
                <a class="btn btn-default" href="{{report.file.url}}"><span class="glyphicon glyphicon-file"></span></a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}
</div>

{% if meeting.detail_text %}
<div class="col-md-4">
    <h1>{% trans 'Details' %}:</h1>
    <hr>
    <h3><p class="lead">{{ meeting.detail_text|linebreaks }}</p></h3>
</div>
{% endif %}

{% endblock %}
