{% extends "base.html" %}

{% block title %}Meetings{% endblock %}

{% load staticfiles %}

{% block nav %}{% include "menu.html" with active='meetings' %}{% endblock %}

{% block content %}

<div class="col-lg-7">

    <h1>Meetings</h1>


    <hr>
    {% if latest_meeting_list %}
    <table class="table table-striped" cellspacing="2" cellpadding="2">
        <thead>
        <tr>
            <td width="500"><h4>Name</h4></td>
            <td><h4>Date</h4></td>
        </tr>
        </thead>
        <tbody>
        {% for meeting in latest_meeting_list %}
             <tr><td width="500"><h4><a href="{% url 'meetings:detail' meeting.id %}">
                 {{meeting.topic_text}}</a></h4></td>
                 <td><h5><div class="date"><span class="glyphicon glyphicon-time">
                 </span>{{meeting.meeting_date|date}}</div></h5></td></h3></tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
        <p>No meetings are available.</p>
    {% endif %}
</div>

{% endblock %}
