<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Meetings</title>

    <!-- Bootstrap Core CSS -->
    <link href="{%static 'bootstrap.min.css'%}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{%static 'blog-post.css'%}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>
<!-- Navigation -->
    {% include "menu.html"%}

<div class="container">

        <div class="row">

            <!-- Blog Post Content Column -->
            <div class="col-lg-8">

                <!-- Blog Post -->

                <!-- Title -->
                <h1>Meetings</h1>

                <!-- Post -->

                <hr>
                {% if latest_meeting_list %}
                                <table cellspacing="2" cellpadding="2">
                    {% for meeting in latest_meeting_list %}
                         <tr><td width="500"><h3><font size="5"><a href="{% url 'meetings:detail' meeting.id %}">{{meeting.topic_text}}</a></font></h3></td><td><h3><font size="3">{{meeting.meeting_date}}</font></h3></td></h3></tr>
                    {% endfor %}
                                    </table>
                {% else %}
                    <p>No meetings are available.</p>
                {% endif %}

                </div>
            </div>
                </div>
            </div>
    </div>
</body>
</html>