{% extends "base.html" %}

{% load i18n %}

{% block title %}{% trans 'Login' %}{% endblock %}

{% load staticfiles %}

{% block nav %}{% include "menu.html" with active='login' %}{% endblock %}

{% block content %}

<div class="col-lg-6">

    <h2>{% trans 'Please, enter username and password' %}</h2>
    <hr>
    {% if form.errors %}
    <p>{% trans "Your username and password didn't match. Please try again" %}.</p>
    {% endif %}

    {% if next %}
        {% if user.is_authenticated %}
        <p>{% trans "Your account doesn't have access to this page. To proceed,
            please login with an account that has access" %}.</p>
        {% else %}
        <p>{% trans 'Please login to see this page' %}.</p>
        {% endif %}
    {% endif %}

    <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <table>
    <tr>
        <td width="80">{% trans 'Username' %}</td>
        <td>{{ form.username }}</td>
    </tr>
    <tr>
        <td>{% trans 'Password' %}</td>
        <td>{{ form.password }}</td>
    </tr>
    </table>

    <input type="submit" value="{% trans 'Login' %}" />
    <input type="hidden" name="next" value="{{ next }}" />
    </form>

</div>
{% endblock %}
