{% extends "base.html" %}

{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block title %}{% trans 'Members' %}{% endblock %}

{% load staticfiles %}

{% block nav %}{% include "menu.html" with active='members' %}{% endblock %}

{% block content %}

<div class="col-lg-4">
    <h2>{% trans 'Professors' %}</h2>
    <div class="col-sm-15">
          <div class="list-group">
              {% for professor in professors %}
              <a style="padding:5px" href="{% url 'members:professor_detail' professor.id %}" class="list-group-item clearfix">
                  <img class="thumbnail pull-left" src="{{ professor.photo_small.url }}">
                  <font style="padding-left:10px" size="5">{% if LANGUAGE_CODE == 'uk' %}
                      {{ professor.name_ua }}
                      {% else %}
                      {{ professor.name_en }}
                      {% endif %}
                  </font>
            </a>
              {% endfor %}
          </div>
    </div>
</div>

<div class="col-lg-4">
    <h2>{% trans 'Students' %}</h2>
    <div class="col-sm-15">
          <div class="list-group">
              {% for student in students %}
              <a style="padding:5px" href="{% url 'members:student_detail' student.id %}"
                 class="list-group-item clearfix">
                <img class="thumbnail pull-left" src="{{student.photo_small.url}}">
                <font style="padding-left:10px" size="5">{% if LANGUAGE_CODE == 'uk' %}
                    {{ student.name_ua }}
                    {% else %}
                    {{ student.name_en }}
                    {% endif %}</font>
              </a>
              {% endfor %}
          </div>
    </div>
</div>

{% endblock %}