{% extends "base.html" %}

{% block title %}Meeting change{% endblock %}

{% load staticfiles %}

{% block nav %}{% include "menu.html" with active='profile' %}{% endblock %}

{% block content %}
<div class="col-lg-6">
    <h1>Hello {{ user.first_name }}  {{ user.last_name }}!</h1>
    <hr>

    {% if not form.instance.pk %}
    <h2>Create new Meeting?</h2>

    <form enctype="multipart/form-data" action="{% url 'members:send_meeting' %}" method="POST">{% csrf_token %}
        {% else %}
        <form enctype="multipart/form-data" method="POST">{% csrf_token %}
        {% endif %}
            {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Save</button>
    </form>
</div>

<div class="col-md-6">
    <h1><br></h1>
    {% if meetings %}
    <hr>
    <h2>Or change existing?</h2>
    {% endif %}
    <table cellspacing="2" cellpadding="2">
        {% for meeting in meetings %}
        <tr>
            <td width="30">
            <a class="btn btn-default btn-xs" href="{% url 'members:delete_meeting' pk=meeting.pk %}">
                <span class="glyphicon glyphicon-trash" ></span></a>
            </td>
            <td width="30">
            <a class="btn btn-default btn-xs" href="{% url 'members:edit_meeting' pk=meeting.pk %}">
                <span class="glyphicon glyphicon-pencil"></span></a>
            </td>
            <td width="350"><h4><a href="{% url 'meetings:detail' meeting.id %}">
                     {{meeting.topic_text}}</a></h4></td>
            <td><h5><div class="date"><span class="glyphicon glyphicon-time"></span>
                {{meeting.meeting_date}}</div></h5>
            </td>
        </tr>
        {% endfor %}
    </table>
 </div>

{% endblock %}