<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Meeting change</title>

    {% load staticfiles %}
     <!-- Bootstrap Core CSS -->
    <link href="{%static 'bootstrap.min.css'%}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{%static 'blog-post.css'%}" rel="stylesheet">


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

    <!-- Navigation -->
    {% include "menu.html"%}

<div class="container">

    <div class="row">

        <!-- Blog Post Content Column -->
        <div class="col-lg-8">
            <!-- Title -->
            <h1>Hello {{ user.first_name }}  {{ user.last_name }}!</h1>
            <hr>

            <!-- Post -->
            {% if meetings %}
            <h2>Create new report?</h2>
            <form enctype="multipart/form-data" action="{% url 'members:send_meeting' %}" method="POST">{% csrf_token %}
                {% else %}
                <form enctype="multipart/form-data" method="POST">{% csrf_token %}
                {% endif %}
                    {{ form.as_p }}
                <button type="submit" class="save btn btn-default">Save</button>
                {#<a class="btn btn-default" href="{% url 'send_meeting' pk=meeting.pk %}">Save</a>#}
            </form>
            <hr>

            {% if meetings %}
            <h2>Or change existing?</h2>
            {% endif %}
            <table cellspacing="2" cellpadding="2">
                {% for meeting in meetings %}
                <tr>
                    <td width="50">
                    <a class="btn btn-default" href="{% url 'members:delete_meeting' pk=meeting.pk %}">
                        <span class="glyphicon glyphicon-trash"></span></a>
                    </td>
                    <td width="50">
                    <a class="btn btn-default" href="{% url 'members:edit_meeting' pk=meeting.pk %}">
                        <span class="glyphicon glyphicon-pencil"></span></a>
                    </td>
                    <td width="300"><h3><font size="5"><a href="{% url 'meetings:detail' meeting.id %}">
                             {{meeting.topic_text}}</a></font></h3></td>
                    <td><h3><font size="3"><div class="date"><span class="glyphicon glyphicon-time"></span>
                        {{meeting.meeting_date}}</div></font></h3>
                    </td>
                </tr>
                {% endfor %}
            </table>
                <br><br><br>


        </div>
    </div>
</div>

</body>
</html>