{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans 'Report change' %}{% endblock %}

{% load staticfiles %}

{% block nav %}{% include "menu.html" with active='profile' %}{% endblock %}

{% block content %}

<div class="col-lg-6">

    <h1>{% trans 'Hello' %} {% if request.user.student.pk%}{{ request.user.student.name_en }}{% else %}
        {{ request.user.professor.name_en }}{% endif %}!</h1>
    <hr>
        <form enctype="multipart/form-data" method="POST">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">{% trans 'Save' %}</button>
        </form>
</div>


{% endblock %}