{% extends "base.html" %}

{% block title %}Report change{% endblock %}

{% load staticfiles %}

{% block nav %}{% include "menu.html" with active='profile' %}{% endblock %}

{% block content %}

<div class="col-lg-6">

    <h1>Hello {{ request.user.student.name_en }}!</h1>
    <hr>

    {% if not form.instance.pk %}
    <h2>Create new report?</h2>
    <form enctype="multipart/form-data" action="{% url 'members:add_report' meeting_pk=meeting_pk %}?next={{request.GET.next}}" method="POST">{% csrf_token %}
        {% else %}
        <form enctype="multipart/form-data" method="POST">{% csrf_token %}
        {% endif %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Save</button>
    </form>
</div>



{% endblock %}