{% extends "base.html" %}
{% load i18n %}

{% block title %}{% blocktrans %}Student {{ form.instance.name }} change{% endblocktrans %}{% endblock %}

{% load staticfiles %}

{% block nav %}{% include "menu.html" with active='profile' %}{% endblock %}

{% block content %}
<div class="col-lg-6">

    <h1>{% trans 'Hello' %} {% if request.user.student.pk%}{{ request.user.student.name_en }}{% else %}
        {{ request.user.professor.name_en }}{% endif %}!</h1>
    <hr>

    {% if not form.instance.pk %}
    <h2>{% trans 'Create new student' %}?</h2>
    <form enctype="multipart/form-data" action="{% url 'members:send_student' %}" method="POST">{% csrf_token %}
        {% else %}
        <form enctype="multipart/form-data" method="POST">{% csrf_token %}
        {% endif %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">{% trans 'Save' %}</button>
        {#<a class="btn btn-default" href="{% url 'send_student' pk=student.pk %}">Save</a>#}
    </form>
</div>
{% if students %}
<div class="col-md-4">
    <h1><br></h1>
    <hr>
    <h2>{% trans 'Or change existing' %}?</h2>
    <table cellspacing="2" cellpadding="2">
        {% for student in students %}
        <tr>
            <td width="30">
            <a class="btn btn-default btn-xs" href="{% url 'members:delete_student' pk=student.pk %}">
                <span class="glyphicon glyphicon-trash"></span></a>
            </td>
            <td width="30">
            <a class="btn btn-default btn-xs" href="{% url 'members:edit_student' pk=student.pk %}">
                <span class="glyphicon glyphicon-pencil"></span></a>
            </td>
            <td><h4><a href="{% url 'members:student_detail' student.id %}">{{ student.name_en }}</a></h4></td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endif %}

{% endblock %}