{% extends "base.html" %}

{% block title %}Profile {{ student.name_en }}{% endblock %}

{% load staticfiles %}

{% block nav %}{% include "menu.html" with active='profile' %}{% endblock %}

{% block content %}

<div class="col-lg-6">
    <h1>Hello {{ request.user.student.name_en }}!</h1>
    <hr>

    {% if form %}
    <form enctype="multipart/form-data" method="POST">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Save</button>
    </form>
    {% else %}
    <img src="{{ student.photo.url }}">
    <a class="btn btn-default" style="position:absolute;top:100px;" href="{% url 'members:edit_student_profile' %}">
                <span class="glyphicon glyphicon-pencil"></span></a>
    <br>
    <p class="lead">Course: {{ student.course }}</p>
    <p class="lead">Institution: {{ student.institution }}</p>
    <p class="lead">Group: {{ student.group }}</p>
    <p class="lead">Interests: {{ student.interests_en|linebreaks }}</p>
    {% endif %}

</div>

<div class="col-md-4">
    <h1>You can:</h1>
    <hr>
    <h3><a href="{% url 'members:report_change' %}">Change or create report</a> </h3>
    {% if student.user.is_superuser %}
    <h3><a href="{% url 'members:meeting_change' %}">Change or create meeting</a> </h3>
    <h3><a href="{% url 'members:student_change' %}">Change or create student</a> </h3>
    {% endif %}

</div>

{% endblock %}
