{% extends "base.html" %}

{% load i18n %}

{% block title %}{% trans 'Links' %} {{dir}}{% endblock %}

{% load staticfiles %}

{% block nav %}{% include "menu.html" with active='links' %}{% endblock %}

{% block content %}

<div class="col-lg-7">
    <h1>{% trans 'Links' %}</h1>
    <hr>
    <div class="list-group">
        {% for link in dirs %}
        <div class="list-group-item list-group-item-linkable {% if link == dir %}active{% endif %} clearfix"
        data-link="{% url 'links:detail' link.pk %}">
            <h4>{{link}}
                <a href="{% url 'members:professor_detail' link.author.id %}">
                <button type="button" class="btn btn-default pull-right">{% if LANGUAGE_CODE == 'uk' %}
                    {{ link.author.name_ua }}
                    {% else %}
                    {{ link.author.name_en }}
                    {% endif %}</button>
                </a>
            </h4>
            {% if link.description %}
                    <h6>{{ link.description }}</h6>
            {% endif %}

        </div>
        {% endfor %}
    </div>
</div>
{% if files %}
<div class="col-md-5">
    <h1>{% trans 'Files' %}</h1>
    <hr>
    <div class="list-group">
        {% for file in files %}
            <a href="{{ file.file.url }}" class="list-group-item clearfix">
                <span class="glyphicon glyphicon-file pull-left"></span>
                <h5 style="padding-left:20px">{{ file }}</h5>
            </a>
        {% endfor %}
    </div>
</div>
{% endif %}
{% endblock %}

